.vscode
*/.vscode
**/dist
**node_modules
*/.DS_Store
*/.env
backend/Tasks/semanticSQLWorker/models/*
!backend/Tasks/semanticSQLWorker/models/.gitkeep
databases
backend/services/minio/*
!backend/services/minio/minio.Dockerfile
backend/services/mongodb/*
!backend/services/mongodb/mongodb.Dockerfile
backend/services/nginx/*
!backend/services/nginx/nginx.Dockerfile
!backend/services/nginx/nginx.conf
backend/services/postgres/*
!backend/services/postgres/postgres.Dockerfile
backend/services/rabbitmq/*
!backend/services/rabbitmq/rabbitmq.Dockerfile
backend/services/maxima/*
!backend/services/maxima/maxima.Dockerfile
!backend/services/maxima/MaximaInputParser.ts
!backend/services/maxima/MaximaOutputParser.ts
!backend/services/maxima/MaximaWorker.ts
!backend/services/maxima/MaximaWrapper.ts
!backend/services/maxima/package.json
!backend/services/maxima/tsconfig.json
backend/services/schemaspy/*
!backend/services/schemaspy/schemaspy.Dockerfile
backend/Tasks/chemics/data_analysis/.an/*
backend/Tasks/chemics/*
server/tempReplayStorage/*
*workspace.code-workspace